<div class="show-flash">
  <%= flash[:notice] %>
</div>

<div class="show-main">
  <p><span class="show-title">Title: </span><%= @book.title %></p>
  <p><span class="show-title">Body: </span><%= @book.body %></p>
</div>

<div class="show-link">
  <p><%= link_to "Edit", edit_book_path(@book.id), class: "show-edit" %></p>
  <p class="show-border">|</p>
  <p><%= link_to "Back", books_path, class: "show-back" %></p>
</div>